/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-image: url("img/bg.jpg");
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

body > div {
  background-color: #fff;
  width: 80%;
  margin: 20px auto;
  border: 3px solid #ffd24a;
  border-radius: 5px;
}

header {
  background-color: #ff8523;
  padding: 30px 20px 30px 20px;
  padding: 20px;

}

nav {
  padding: 5px;
  margin-top: 20px;
}

.main_navigation a {
  border: 1px solid #eee;
  border-radius: 4px;
  color: #eee;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
}

#page_content {
  margin: 20px 20px;
  line-height: 1.6;
}

section {
  border-bottom: 4px solid #ddd;
  padding: 10px 10px 50px 10px;
}
h2 {
  color: #1fabe5;
}

#page_content a {
  color: #1fabe5;
}

h3 {
  color: #1fabe5;
}

ul {
  margin: 0px 5px 0px 0px;
}
li {
  font-weight: bold;
  margin-left: 0px;
}

p {
  font-weight: 500;
}
table {
  border-collapse: collapse;
  min-width: 100%;
}

 td {
   border: 2px solid #1fabe5;
   padding: 10px;
   max-width: 90%;

 }

thead > tr > td {
  background-color: #1fabe5;
  color: #eee;
  border: 2px solid #046c97;
  padding: 10px;
}
td > img {
  max-width: 60px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  background-color: #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.name {
  background-color: #ff8523;
  color: #eee;
  border: 1px solid #ff8523;
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;
}

.name input {
  min-width: 150px;
  min-height: 30px;
  margin-right: 20px;
}

.city_container {
  margin: 20px 0px;
  font-weight: bold;
}

select {
}

label {
  font-weight: bold;
}

textarea {
  border: 2px solid #1fabe5;
  margin: 10px 0px;
  padding: 10px;
  max-width: 97%;
  min-width: 97%;
  font-weight: bold;
  font-size: 1.0em;
}

.submit_container > input {
  background-color: #1fabe5;
  color: #eee;
  padding: 15px 20px;
  border: 2px solid #1fabe5;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.0em;
  font-weight: bold;
}
